<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/qualia"
        android:label="Qualia"
        android:roundIcon="@mipmap/qualia_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity android:name=".ui.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".ui.OnboardingActivity"/>
        <activity android:name=".ui.HomeActivity"/>
        <activity android:name=".ui.BreathActivity"/>
        <activity android:name=".ui.SessionActivity"/>
        <activity android:name=".ui.ClosingActivity"/>
        <activity android:name=".ui.JournalActivity"/>
        <activity android:name=".ui.PastEntriesActivity"/>
        <activity android:name=".ui.EntryDetailActivity"/>
        <activity android:name=".ui.GraduationActivity"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

    </application>

</manifest>